
    <!-- <main class="form-signin w-100 m-auto"> -->
      
    <!-- <a href="/games">SEE WHAT'S IN STORE</a><br> -->
    
    <% if (messages.error){ %>
        <%= messages.error %>
        <% } %> 
      
            <form action="/" method="POST">
                <h1 class="h3 mb-3 fw-normal">Welcome to WeGame</h1>
                <div class="form-floating">
                    <input type="email" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-floating">
                    <input type="password" name="password" placeholder="password" class="form-control">
                </div>
                
                
                <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>

                <div class="mt-5 mb-3 text-muted">
                    <a href="/auth/google">Login with Google</a>
                </div>
                <p class="mt-5 mb-3 text-muted">New User? <a href="/signup">Sign up</a></p>
            </form>
            
    
    <!-- </main> -->
 