<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Welcome to WeGame</title>
</head>
<body> -->
    <h1></h1>
    <div class="container">Welcome to WeGame</div>
    <a href="/games">SEE WHAT'S IN STORE</a><br>
    
    <% if (messages.error){ %>
        <%= messages.error %>
        <% } %> <br><br>
    <form action="/" method="POST">
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <button type="submit">Login</button>
    </form><br>
    
    <a href="/auth/google">Login with Google</a><br>

    <p>New User? <a href="/signup">Sign up</a></p>
    
<!--     
</body>
</html> -->