
      <main class="form-signin w-100 m-auto">
    
    <h1>New Game</h1>
    <form action="/games/" method="POST">
        <ul style="list-style-type: none;">
            <li>
                <label for="title">Name: </label>
                <input type="text" name="title">
            </li><br>
            <li>
                <label for="img">Image: </label>
                <input type="text" name="img">
                <!-- https://i.imgur.com/hJ1kHNl.jpg -->
            </li><br>
            <li>
                <label for="description">Description: </label>
                <input type="text" name="description">
            </li><br>
            <li>
                <label for="age"> Age: </label>
                <input type="text" name="age">
            </li><br>
            <li>
                <label for="players">Number of players: </label>
                <input type="text" name="players">
            </li><br>
            <li>
                <p>Choose category:
                <label for="category"> Kids </label>
                <input type="checkbox" name="category[]" value="kids">
                <label for="category">Adults</label>
                <input type="checkbox" name="category[]" value="adults">
                <label for="category">Indoor</label>
                <input type="checkbox" name="category[]" value="indoor">
                <label for="category">Outdoor</label>
                <input type="checkbox" name="category[]" value="outdoor">
            </p>
            </li><br>
        </ul>
        <button type="submit">SUBMIT</button>
    </form>

    </main>