<head>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Philosopher&family=Space+Mono&family=Special+Elite&display=swap" rel="stylesheet">
      
    <style>
    body {
      font-family: 'Fredericka the Great', cursive;
    }
    </style>
</head>
  
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/games">
            <img src="https://i.imgur.com/IAkyflz.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            WeGame
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="/games">Home</a>
          </li>
        </ul>
            <a href="/games/logout"><button class="btn btn-outline-success">Logout</button></a>
        </div>
    </div>
</nav>  


<body class="text-center">
    <div class="container" style="margin-top: 10rem;">
    <main class="form-signin w-50 m-auto">
        <img class="mb-4" src="https://i.imgur.com/IAkyflz.jpg" alt="" width="110" height="100">
    <h1 class="h3 mb-3 fw-normal">New Game</h1>
    <form action="/games/" method="POST">      
            <input type="text" placeholder="Title" class="form-control" name="title">   
            
            <input type="text" placeholder="Image URL" class="form-control" name="img"> 
            <textarea type="text" placeholder="Description" class="form-control" name="description"></textarea>
            <input type="text" placeholder="Age" class="form-control" name="age">
            <input type="text" placeholder="Number of players" class="form-control" name="players">
             <p class="mt-5 mb-3 text-muted"> Choose category:
                <label for="category"> Kids </label>
                <input type="checkbox" name="category[]" value="kids">
                <label for="category">Adults</label>
                <input type="checkbox" name="category[]" value="adults">
                <label for="category">Indoor</label>
                <input type="checkbox" name="category[]" value="indoor">
                <label for="category">Outdoor</label>
                <input type="checkbox" name="category[]" value="outdoor">
            </p>
            <p class="mt-5 mb-3 text-muted" style="margin-top:0;">No picture-no problem, use this sample URL:  https://i.imgur.com/KYDBTAD.jpg</p><br> 
        <button type="submit" class="w-100 btn btn-lg btn-primary">SAVE</button>
    </form>
</main>
<div>
</body>