
    <main class="form-signin w-100 m-auto">
        <h2 class="h3 mb-3 fw-normal">Sign up and start exploring</h2>
    <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Username" class="form-control">
        <input type="email" name="email" placeholder="Email" class="form-control">
        <input type="text" name="password" placeholder="Password" class="form-control">
        <button type="submit" class="w-100 btn btn-lg btn-primary">SAVE</button>
    </form><br>

    </main>
    

