<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body> -->

    <h2>Sign up and start exploring</h2>
    <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="Password">
        <button type="submit">SAVE</button>
    </form><br>

<!-- </body>
</html> -->