body{
  font-family: 'Fredericka the Great', cursive;
}

h1,h2,h3,h4 {
  font-family: 'Fredericka the Great', cursive;
}

p{
  font-family: 'Fredericka the Great', cursive;
}
nav{
  font-family: 'Fredericka the Great', cursive;
}
div{
  font-family: 'Fredericka the Great', cursive;
}

